<footer id="footer">
    <a href="chemskos/en/"><img class="logo img-responsive" src="resource/pics/logo-footer.png"/></a>
<div class="footer-bootom">    
 <div class="footer-container">
  <div class="row">
    <ul class="menu-footer">
      <li><a href="/chemskos/en/about-us">About us</a></li>
      <li><a href="/chemskos/en/publication">Publication</a></li>
      <li><a href="/chemskos/en/terms">Term of use</a></li>
      <li><a href="/chemskos/en/contact">Contact</a></li>
    </ul>
  </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <a href="mailto:contact@chemskos.com">contact@chemskos.com</a>
        </div>
      </div>
</div>
</div>
</footer>
