<!DOCTYPE html>
<html dir="ltr" lang="{{ request.lang }}">
<head>
  <base href="{{ BaseHref }}">
  <link rel="shortcut icon" href="favicon.ico">
  {% include 'meta.twig' %}
  {% include 'links.twig' %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link href='//cdn.jsdelivr.net/npm/yasgui@2.7.19/dist/yasgui.min.css' rel='stylesheet' type='text/css'/>
  <style>

</style>
<script>

</script>
<title>Skosmos</title>
</head>
<body class="vocab-stw2">
  <div class="topbar-white">
  </div>  
  {% include 'header.twig' %}
  <div class="main-container">
  <h3>Publication</h3>
  <p>TBA</p>
  </div>
  {% include 'footer.twig' %}

</body>
</html>
